body {
  overflow: hidden;
  background-color: black;
  background:url('https://media.giphy.com/media/ygAaR0n5RsyAM/giphy.gif');
  background-repeat:no-repeat;
  background-size: 100%;
}
p:nth-child(1) a {
  color: #228DFF;
  font-family: Pacifico;
  font-size: 2.5em;
}

p:nth-child(1) a:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;

}
p:nth-child(2) a {
  color: #228DFF;
  font-family: Pacifico;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  font-size: 2.5em;

}p:nth-child(3) a {
  font-size: 1.5em;
  color: #228DFF;
  font-family: Pacifico;
  font-size: 2.5em;

}

p:nth-child(3) a:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

p:nth-child(2) a:hover {
  color: #FF1177;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
p a:hover {
  color: #ffffff;
}
@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 2.5em;
  }
}

#btn{
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-size: 14px;
  padding: 14px 20px;
  color: #FFF;
  text-decoration: none;
  font-size: 1.5em;
}
#btn2{
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-size: 14px;
  padding: 14px 20px;
  color: #FFF;
  text-decoration: none;
  font-size: 1.5em;
}

.menu{
  width: auto;
}
.footer{
	position: fixed;
  text-align: right;
	bottom: 14px;
	width: 95%;
	padding: 14px 20px;
}
.footer2{
  position: fixed;
  text-align: right;
  bottom: 14px;
  width: 95%;
  padding: 14px 20px;
}
div p {
	display: inline;
}
ul{
  margin-top: 40px;
}
ul li{
  padding: 20px;
  border-radius: 15px 50px;
  width: 15%;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  color: white;
  cursor: pointer;
  text-align: center;
  list-style-type: none;
}
ul li a{
    color: white;
    text-decoration: none;
    color: #228DFF;
    font-family: Monoton;
    font-size: 20px;
}
ul li a:hover{
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 2.5s ease-in-out infinite alternate;
}
#vid{
  float: right;
  width: 15%;
  border-radius: 5px 50px;
  cursor: pointer;
}
.hide{ 
  display: none;
  width: 80%;
  height: 60%;
  margin-left: 100px;
}

#close{
  position: fixed;
  left: 400px;
  width: 25px ;
  font-family: Monoton;
  }
  #hide9{
    display: none;
    transition: .25s ease;
  }
  #menu2 {
    display: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Pacifico;
    border-radius: 15px 50px;
    width: 60%;
    margin: 5%;
    padding: 140px 100px;

    background: rgba(255, 255, 255, 0.2);
    text-align: justify;
   
}
  #menu3 {
    display: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Pacifico;
    border-radius: 15px 50px;
    width: 60%;
    margin: 5%;
    padding: 160px 100px;

    background: rgba(255, 255, 255, 0.2);
    text-align: justify;
   
}

#text{
    color: white;
    font-size: 15px;
    font-family: Pacifico;
    animation: none;
  }
  #back{
    position: fixed;
    left: 400px;
    width: 60% ;
    font-family: Monoton;
  }
  #im{
    width: 40%;
    float: right;
    padding: 15px;
  }